//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'partials/header';
@import 'partials/body';
@import 'partials/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
}

.disp_none {
    display: none;
}


.blue_cont {
    background: #0282f9;
    height: 5rem;
}
